/**
 * App Bar Component
 */

.appbar {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 100;
}

.status-bar {
    display: none;
}

.appbar-content {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-20);
    border-bottom: 1px solid #eee;
}

.appbar-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.icon-btn {
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}